<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
      <supportedRuntime version="v2.0.50727"/>       
    </startup>
  <appSettings>
    <add key="JH_CS" value="Data Source='192.168.2.9';Initial Catalog='JH_DEMO';User ID='sa';pwd='Sap123#@!';pooling=false"/>
    <add key="JM_CS" value="Data Source='192.168.2.9';Initial Catalog='JM_DEMO';User ID='sa';pwd='Sap123#@!';pooling=false"/>
    <add key="YCL" value="2#打印机|B_PURINSPECT"/>
    <add key="YZ"  value="1#打印机|压制报工"/>
    <add key="ZX"  value="5#打印机|组合报工"/>
    <add key="BZ"  value="4#打印机|入库检验"/>
    <add key="CP"  value="3#打印机|入库检验CP"/>
    <add key="JHBQ"  value="JH"/>
    <add key="JMBQ"  value="JM"/>
    <add key="BQTSCount"  value="20"/>
    <add key="BQKZCount"  value="30"/>
    <add key="UpdateFile"  value="192.168.2.9:8888/web.config"/>
  </appSettings>
</configuration>